html, body
{
    width: 100%;
    margin: 0; /*pour assurer le même affichage dans les différent navigateurs*/
    padding: 0;
}

table
{
    border: 3px solid black;
}

nav
{
    padding-left: 10%; /*Egual a 100-"largeur de main" /2*/
    background-color: darkgrey;
}

div#main
{
	width: 1000px;
	margin: auto;
	padding: 20px;
    background-color: white;
}

/*--------------------------Header--------------------------------*/
header
{
    background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    width: 100%;
}

header > div
{
    display: inline-block;
}

img#logo
{
    width: 250px;
	margin-right: auto;
}

div#divBarreDeRecherche
{
    width: 450px;
    margin: auto;
}

div#cadreUtilisateur
{
	float: right;
	padding: 20px 20px 0px 0px;
	color: white;
}

ul#liensPratiques
{
	display: block;
}

ul#liensPratiques
{
    list-style-type: none;
}

ul#liensPratiques li
{
    display: inline-block; /*Non pris en charge sous ie7 et ie8 */
    text-align: center;		/*On centre le texte de notre li horizontalement.*/
}
/*barre de recherche*/
.lien_navi_bar{
font-size: 20px;
}
/*----------page conexion-------------------------*/
div.cadre_connexion
{
	border: 1px solid black;
	width: 400px;
	height: 200px;
	display: inline-block;
	vertical-align: top;
	padding: 5px 5px 5px 5px;
}
.col_text
{
	text-align: right;
	width:120px;
	height: 35px;
}

.col_entree
{
	height: 35px;
	text-align: right;
	width: 200px;
}
.col_valider
{
	text-align: right;
}

#tab_connexion
{
	margin: auto;
	border: none;
}

/*-----------page panier-------------------*/
form.bouton_actions
{
	display: inline-block;
}

img.imagePanier
{
	width: 100px;
	height: 100px;
}

tr.ligneColorie
{
	background-color: lightgrey;
}

/*---------- page inscription-------------*/
div.inscription
{
	border: 1px solid black;
	width: 400px;
	height: 370px;
	display: inline-block;
	vertical-align: top;
	padding: 5px 5px 5px 5px;
	margin-bottom: 50px;
	
}

#replique_cadre_connexion
{
	display: inline-block;
	margin-left: 5%;
}

#tab_inscription
{
	border: none;
}

.inscr_col_text
{
	text-align: right;
	width:140px;
	height: 35px;
}

.inscr_col_entree
{
	height: 35px;
	text-align: right;
	width: 200px;
}

/*-------------------------page produit----------------------*/
a.lien_detail
{ 
	text-decoration: none; 
	color: black;
}

a.lien_detail:hover
{
  color: gray;
}

div#liens_de_pagination
{
	text-align: center;
/*
	width: 400px;
	margin: auto;
*/
}

input.taille_text_box
{
	width: 40px;
}

div.vignette
{
	border: 1px black solid;
	width: 300px;
	margin: 10px;
	padding: 10px;
	display: inline-block;
	font-weight: bold;
	font-size: medium;
	color: black;
}

div.vignette img
{
	width: 100px;
	height: 100px;
}

div.annonce
{
	margin: auto;
	width: 100%; 
}

/*--------------------page detail------------------*/
div#cadre_detail_gauche img
{
	width: 250px;
	height: 250px;
}

div#cadre_detail_gauche
{
	display: inline-block;
	height: 250px;
}

div#cadre_detail_droit
{
	display: inline-block;
	height: 250px;
	width: 700px;
	vertical-align: top;
	margin-top: 5px;
	margin-left: 10px;
	font-size: 16px;
	text-align: justify;
}
/*---------------contact------------*/
#tableau_contact
{
	border:0px;
	margin-top:40px;
}

.titre_tableau_contact
{
	width:200px;
	height:40px; 
	vertical-align:top;
}
#adresse_contact
{
	height:80px;
}

/*---------------footer--------------*/
div#info_footer
{
	margin: auto; width:500px;
}

div.separateur
{
	margin-top: 100px;
	height: 1px;
	background-color: black;
}

footer
{
	width: 100%;
	height: 300px;
	background-color: lightgrey;
	padding-top: 15px;
	padding-left: 15px;
}